@model MissionSite.Models.Missions
@{
    ViewBag.Title = "MissionFAQ";
}

<div class="container">
    <div class="row">
        <h2 style="text-align: center">@Model.missionName Mission - Snapshot</h2>
    </div>
    <div class="row">
        <h4>
        <dl class="col-md-6"">
            <dt class="col-sm-3"><strong>President: </strong></dt>
            <dd class="col-sm-9"><i>@Model.MissionPresident</i></dd>

            <dt class="col-sm-3"><strong>Address: </strong></dt>
            <dd class="col-sm-9"><i>@Model.MissionAddress</i></dd>

            <dt class="col-sm-3"><strong>Language: </strong></dt>
            <dd class="col-sm-9"><i>@Model.Language</i></dd>

            <dt class="col-sm-3"><strong>Climate: </strong></dt>
            <dd class="col-sm-9"><i>@Model.Climate</i></dd>

            <dt class="col-sm-3"><strong>Religion: </strong></dt>
            <dd class="col-sm-9"><i>@Model.Religion</i></dd>
        </dl>
        </h4>
    </div>
    <div class="col-md-6">
        
    </div>
</div>

<hr />

<div class="container">
    <h2 style="text-align: center">Mission FAQs</h2>  
</div>

<div class="container">
    <h1>@ViewBag.question1 <button class="btn btn-default" data-toggle="collapse" data-target="#question1">View</button></h1>
    <div id="question1" class="collapse">
        <p><img src="../../Content/images/trackingline.jpg" class="comment"/><img src="../../Content/images/blankProfile.png" class="comment"/> <a href="#" class="handler">&#64anderson</a> @Model.Answer1</p>
        @using (Html.BeginForm("MissionFAQ", "Mission", new { Model.missionName }, FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.TextBox("NewComment", "", new { type = "text", id = "NewComment", @size = "100", placeholder = "Comment here", required = true, autofocus = true })
            <button class="btn btn-default" type="submit">Post</button>
        }
    </div>
    <h1>@ViewBag.question2 <button class="btn btn-default" data-toggle="collapse" data-target="#question2">View</button></h1>
    <div id="question2" class="collapse">
        <p><img src="../../Content/images/trackingline.jpg" class="comment" /><img src="../../Content/images/blankProfile.png" class="comment" /> <a href="#" class="handler">&#64anderson</a> @Model.Answer2</p>
        @using (Html.BeginForm("MissionFAQ", "Mission", new { Model.missionName }, FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.TextBox("NewComment", "", new { type = "text", id = "NewComment", @size = "100", placeholder = "Comment here", required = true, autofocus = true })
            <button class="btn btn-default" type="submit">Post</button>
        }
    </div>
    <h1>@ViewBag.question3 <button class="btn btn-default" data-toggle="collapse" data-target="#question3">View</button></h1>
    <div id="question3" class="collapse">
        <p><img src="../../Content/images/trackingline.jpg" class="comment" /><img src="../../Content/images/blankProfile.png" class="comment" /> <a href="#" class="handler">&#64anderson</a> @Model.Answer3</p>
        @using (Html.BeginForm("MissionFAQ", "Mission", new { Model.missionName }, FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.TextBox("NewComment", "", new { type = "text", id = "NewComment", @size = "100", placeholder = "Comment here", required = true, autofocus = true })
            <button class="btn btn-default" type="submit">Post</button>
        }
    </div>
    <h1>@ViewBag.question4 <button class="btn btn-default" data-toggle="collapse" data-target="#question4">View</button></h1>
    <div id="question4" class="collapse">
        <p><img src="../../Content/images/trackingline.jpg" class="comment" /><img src="../../Content/images/blankProfile.png" class="comment" /> <a href="#" class="handler">&#64anderson</a> @Model.Answer4</p>
        @using (Html.BeginForm("MissionFAQ", "Mission", new { Model.missionName }, FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.TextBox("NewComment", "", new { type = "text", id = "NewComment", @size = "100", placeholder = "Comment here", required = true, autofocus = true })
            <button class="btn btn-default" type="submit">Post</button>
        }
    </div>
    <h1>@ViewBag.question5 <button class="btn btn-default" data-toggle="collapse" data-target="#question5">View</button></h1>
    <div id="question5" class="collapse">
        <p><img src="../../Content/images/trackingline.jpg" class="comment" /><img src="../../Content/images/blankProfile.png" class="comment" /> <a href="#" class="handler">&#64anderson</a> @Model.Answer5</p>
        @using (Html.BeginForm("MissionFAQ", "Mission", new { Model.missionName }, FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.TextBox("NewComment", "", new { type = "text", id = "NewComment", @size = "100", placeholder = "Comment here", required = true, autofocus = true })
            <button class="btn btn-default" type="submit">Post</button>
        }
    </div>
</div>
<br />
<div class="container">
    <h2 style="text-align: center">Ask a Missionary!</h2>
</div>
<br />
<div class="container">
    @using (Html.BeginForm("MissionFAQ", "Mission", new { Model.missionName }, FormMethod.Post, new { @class = "form-group", @style = "text-align:center" }))
    {
        @Html.TextBox("NewQuestion", "", new { type = "text", id = "NewQuestion", @size = "300", placeholder = "Question", required = true, autofocus = true })
        <button class="btn btn-primary" type="submit">Post</button>
    }
</div>

